img{
   display: block;
   margin-left: auto;
   margin-right: auto;
   max-width: 50px;
   max-height: 50px;
   min-width: 50px;
}
h2{
    text-align: center;
    margin-top: auto;
    margin-bottom: 2px;
}
#username{
    height: 35px;
    width: 320px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(202, 200, 200, 0.2);
    border-bottom: 2px solid rgba(000, 000, 000, 0.2);
    padding: 0px 5px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
}
#login_Password{
    height: 35px;
    width: 320px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(202, 200, 200, 0.2);
    border-bottom: 2px solid rgba(000, 000, 000, 0.2);
    padding: 0px 5px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
}
#loginButton{
    display: block;
    width: 330px;
    height: 35px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    border-radius: 5px;
    background: rgba(000, 000, 255, 0.4);
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    color: white;
}

::placeholder{
    position: absolute;
    top: 3px;
    left: 5px;
}

.myDiv a{
    text-decoration: none;
    margin:  auto;
    color: rgba(49, 49, 180, 0.6);
}
.myDiv{
    text-align: center;
}